#app-container {
    height: 100vh;
    width: 100vw;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    &[data-status="ready"] .loading {
        opacity: 0;
        pointer-events: none;
    }
    .loading {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        opacity: 0.5;
        transition: opacity .5s;
        z-index: 2;
        font-size: 30px;
    }
}
.shape-window {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    .stats {
        position: absolute;
        bottom: 0;
        display: flex;
        color: #ffffff;
        justify-content: center;
        font-size: 2rem;
    }
}
.shape-container {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    canvas {
        width: 100%;
        height: 100%;
    }
}
