* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: aquamarine;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

:root {
    --background-color: black;
    --text-color: lemonchiffon;
    --correct-color: forestgreen;
    --wrong-color: tomato;

    --spacing-s: 5px;
    --spacing-m: 20px;
    --spacing-l: 40px;

    --font: 'Verdana', sans-serif;
    --font-size-s: 10px;
    --font-size-m: 15px;
    --font-size-l: 25px;
    --font-size-xl: 40px;

    --border: 2.5px solid var(--text-color);
    --border-radius: 10px;
}
