.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: var(--spacing-l) 0;
}
