.shape {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border: 1px solid ivory;
}
.shape + .shape {
  border-left-width: 0;
}

.shapeThreeJsContainer {
  flex: 1 1 0;
}

.controls {
  display: flex;
  justify-content: center;
}