.shapeAndOverlay {
    position: relative;
    flex: 1 1 0;
    outline: var(--border);
    border-radius: var(--border-radius);
}
/* .shapeAndOverlay:first-child {
    margin-right: var(--spacing-s);
}
.shapeAndOverlay:last-child {
    margin-left: var(--spacing-s);
} */

.shape {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shapeThreeJsContainer {
    flex: 1 1 0;
    border-radius: var(--border-radius);
}

.controls {
    display: flex;
    justify-content: center;
    border-top: var(--border);
}

.button {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-m);
    cursor: pointer;
    padding: var(--spacing-s);
}

.button:hover {
    background-color: darkslategray;
}
.overlay {
    position: absolute;
    color: lemonchiffon;
    pointer-events: none;
    top: 5;
    left: 5;
    width: 100%;
    height: 100%;
    display: flex;
}
